<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="BlockSensitiveFiles" stopProcessing="true">
                    <match url="^(server\.js|config\.js|data/.*)$" ignoreCase="true" />
                    <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="File not found" />
                </rule>
                <rule name="NodeApiProxy" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/api/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
